@charset "UTF-8";

.row-0{ margin-left:0px;  margin-right:0px}
.row-0 >div{ padding-right:0px;  padding-left:0px}
.row-10{ margin-left:-5px;  margin-right:-5px}
.row-10 >div{ padding-right:5px;  padding-left:5px}
.row-20{ margin-left:-10px;  margin-right:-10px}
.row-20 >div{ padding-right:10px;  padding-left:10px}
.row-30{ margin-left:-15px;  margin-right:-15px}
.row-30 >div{ padding-right:15px;  padding-left:15px}
.row-40{ margin-left:-20px;  margin-right:-20px}
.row-40 >div{ padding-right:20px;  padding-left:20px}
.row-50{ margin-left:-25px;  margin-right:-25px}
.row-50 >div{ padding-right:25px;  padding-left:25px}

.marker_yellow_futo {
background: linear-gradient(transparent 0%, #ffff66 0%);
}

p {
	line-height: 1.4em;
}
.post_content p {
	line-height: 1.4em;
}

p {
	line-height: 1.4em;
}

.read {
	line-height: 1.4em;
}

.top_margin5 {
	margin-top: 5px;
}
.top_margin10 {
	margin-top: 10px;
}
.top_margin20 {
	margin-top: 20px;
}
.top_margin30 {
	margin-top: 30px;
}
.top_margin40 {
	margin-top: 40px;
}
.top_margin50 {
	margin-top: 40px;
}

.bottom_margin5 {
	margin-bottom: 5px;
}
.bottom_margin10 {
	margin-bottom: 10px;
}
.bottom_margin20 {
	margin-bottom: 20px;
}
.bottom_margin30 {
	margin-bottom: 30px;
}
.bottom_margin40 {
	margin-bottom: 40px;
}
.bottom_margin50 {
	margin-bottom: 50px;
}

.top_padding5 {
	padding-top: 5px;
}
.top_padding10 {
	padding-top: 10px;
}
.top_padding20 {
	padding-top: 20px;
}
.top_padding30 {
	padding-top: 30px;
}
.top_padding40 {
	padding-top: 40px;
}
.top_padding50 {
	padding-top: 40px;
}

.bottom_padding5 {
	padding-bottom: 5px;
}

.bottom_padding10 {
	padding-bottom: 10px;
}

.bottom_padding20 {
	padding-bottom: 20px;
}

.bottom_padding30 {
	padding-bottom: 30px;
}

.bottom_padding40 {
	padding-bottom: 40px;
}

.bottom_padding50 {
	padding-bottom: 50px;
}

.komikomi_koumoku {
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 5px;
}

.komikomiText {
	font-size: 10px;
	line-height: 1.4em;
}

.ph_text {
	font-size: 13px;
	line-height: 1.4em;
	color: #3F3F3F;
}

.ph_read {
	font-size: 14px;
	line-height: 1.4em;
	color: #3F3F3F;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.post_content p {
	margin: 0px;
}

.midashi_a {
	margin-bottom: 10px;
	color: #000000;
	font-size: 22px;
	line-height: 1.5em;
	border-top: 1px solid #222222;
	border-bottom: 1px solid #222222;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
}

.ph_title {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #5A5A5A;
	font-size: 22px;
	line-height: 1.4em;
	text-align: center;
}

h3 .ph_title {
	line-height: 1.5em;
}

.post_content h2 {
	padding: 0px;
}

.post_content h3 {
	padding: 0px;
}

.post_content .style3a {
	margin: 1px 0px 10px;
}

#project_side_content h3 {
	margin-bottom: 10px;
}

.flex{
display: flex;
flex-wrap: wrap;
}

.komikomi_midashi {
}

.komikomi_bn_title {
	margin-top: 0px;
	margin-bottom: 5px;
	color: #3F3F3F;
	font-size: 16px;
	line-height: 1.4em;
	font-weight: bold;
}

.komikomi_bn_read {
	font-size: 13px;
	line-height: 1.4em;
}

.flat_bn_text {
	color: #4C4C4C;
	font-size: 11.5px;
	line-height: 1.4em;
}

.row-center.va-middle > [class*='col-'] {
vertical-align:middle;
}

.bt_deco {
	padding: 6px 12px;
	display: inline-block;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	/* [disabled]-ms-touch-action: manipulation; */
	/* [disabled]cursor: pointer; */
	/* [disabled]-webkit-user-select: none; */
	/* [disabled]-moz-user-select: none; */
	/* [disabled]-ms-user-select: none; */
	border: 1px solid transparent;
	border-radius: 4px;
	background-image: none;
}

.cont_midashi {
	font-size: 17px;
	border-bottom: 1px solid #5A5A5A;
	padding-bottom: 5px;
	border-left: 3px solid #FF0004;
	padding-left: 5px;
	line-height: 1.4em;
}
.cont_midashi2 {
  font-size: 27px;
  border-bottom: 1px solid #5A5A5A;
  padding-bottom: 5px;
  border-left: 3px solid #FF0004;
  padding-left: 5px;
  line-height: 1.4em;
}

.setubi_title {
	font-size: 15px;
	line-height: 1.4em;
	margin-top: 5px;
	margin-bottom: 5px;
}

.setubi_read {
	color: #5A5A5A;
	font-size: 12px;
	line-height: 1.4em;
}

.cont_midashi_sub {
	font-size: 11px;
}

.estate_access {
	font-size: 20px;
	text-align: center;
	line-height: 1.5em;
	background-color: #129900;
	color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
}

.access_list {
	font-size: 20px;
}



.writingmode {
　  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  }

.row-center{
  text-align: center;
  /* [disabled]letter-spacing:-0.4em; */
}
.row-center > [class*='col-'] {
display:inline-block;
letter-spacing:0;
vertical-align:top;
float:none !important;
}

.row-center.va-middle > [class*='col-'] {
vertical-align:middle;
}
.row-center.va-bottom > [class*='col-'] {
vertical-align:bottom;
}

.nagare_tate {
  font-size: 27px;
  line-height: 0em;
  color: #FFFFFF;
  display: table;
  vertical-align: middle;
}
.display {
  display: table;
}

.center_position {
  display: table-cell;
  vertical-align: middle;
}

.outer{
  position: relative;
}

.inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
}

.flow_midashi {
  font-size: 24px;
  line-height: 1.5em;
}

.flow_komidashi {
  font-size: 15px;
  font-weight: bold;
}

.flow_read {
  font-size: 13px;
}

.red_inyou {
  border-left: 3px solid #FF0004;
  padding-left: 5px;
}

.flow_bg1 {
  background-color: #1E3DFF;
}

.flow_bg2 {
  background-color: #00ADAC;
}

.flow_bg3 {
  background-color: #FFC71D;
}

.flow_bg4 {
  background-color: #BF1DFF;
}

.flow_bg5 {
  background-color: #00D11C;
}

.flow_bg6 {
  background-color: #FF1D86;
}

.flow_bg7 {
  background-color: #FF0004;
}

.underline {
  border-bottom: 1px solid #7F7F7F;
  padding-bottom: 5px;
}

.bt_ofuro {
  background-color: hsla(31,87%,53%,1.00);
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.ofuro_day {
  color: hsla(0,0%,100%,1.00);
  text-align: center;
  font-size: 10px;
  line-height: 20px;
}

.ofuro_kouji {
  color: hsla(0,0%,100%,1.00);
  text-align: center;
  font-size: 18px;
  line-height: 20px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.container {
  padding-left: 5px;
  padding-right: 5px;
}

.remarks_text1 {
  font-size: 12px;
}

.big_read {
  font-size: 17px;
}

.big_read_waku {
  font-size: 17px;
  padding: 10px;
  border: 1px solid hsla(34,100%,50%,1.00);
  border-radius: 10px;
}

.shikiri1 {
  border-bottom: 1px solid hsla(0,0%,50%,1.00);
  padding-top: 10px;
  padding-bottom: 10px;
}
.sayuu_padding0 {
  padding-left: 0px;
  padding-right: 0px;
}

.sm_padding {
  padding-top: 0px;
}
.br_320 {
  display: none;
}

.br_375 {
  display: none;
}

.br_414 {
  display: none;
}



@media (max-width:320px){

.big_read {
  font-size: 17px;
}

.big_read {
  font-size: 17px;
}


.midashi_a {
	margin-bottom: 10px;
	color: #000000;
	font-size: 13px;
	line-height: 1.5em;
	border-top: 1px solid #222222;
	border-bottom: 1px solid #222222;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
}

.ph_title {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #5A5A5A;
	font-size: 13px;
	line-height: 1.4em;
	text-align: center;
}

.komikomi_bn_title {
	margin-top: 0px;
	margin-bottom: 5px;
	color: #3F3F3F;
	font-size: 13px;
	line-height: 1.4em;
	font-weight: bold;
}

.komikomi_bn_read {
	font-size: 10px;
	line-height: 1.4em;
}

.flat_bn_text {
	color: #4C4C4C;
	font-size: 10px;
	line-height: 1.4em;
}

.nagare_tate {
  font-size: 19px;
  line-height: 0em;
  color: #FFFFFF;
  display: table;
  vertical-align: middle;
}

.flow_midashi {
  font-size: 19px;
}

.flow_komidashi {
  font-size: 13px;
}

.flow_read {
  font-size: 14px;
}

.flow_read {
  font-size: 11px;
}

.komikomi_koumoku {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.komikomiText {
  font-size: 13px;
  line-height: 1.4em;
}

.cont_midashi2 {
  font-size: 14px;
  border-bottom: 1px solid #5A5A5A;
  padding-bottom: 5px;
  border-left: 3px solid #FF0004;
  padding-left: 5px;
  line-height: 1.4em;
}

.br_320 {
  display: block;
}
}

@media (min-width:321px) and (max-width:375px){

.midashi_a {
	margin-bottom: 10px;
	color: #000000;
	font-size: 15px;
	line-height: 1.5em;
	border-top: 1px solid #222222;
	border-bottom: 1px solid #222222;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
}

.ph_title {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #5A5A5A;
	font-size: 14px;
	line-height: 1.4em;
	text-align: center;
}

.komikomi_bn_read {
	font-size: 10px;
	line-height: 1.4em;
}

.komikomi_bn_title {
	margin-top: 0px;
	margin-bottom: 5px;
	color: #3F3F3F;
	font-size: 13px;
	line-height: 1.4em;
	font-weight: bold;
}

.flat_bn_text {
	color: #4C4C4C;
	font-size: 10px;
	line-height: 1.4em;
}

.nagare_tate {
  font-size: 19px;
  line-height: 0em;
  color: #FFFFFF;
  display: table;
  vertical-align: middle;
}

.flow_read {
  font-size: 11px;
}

.retina {
}

.cont_midashi2 {
  font-size: 17px;
  border-bottom: 1px solid #5A5A5A;
  padding-bottom: 5px;
  border-left: 3px solid #FF0004;
  padding-left: 5px;
  line-height: 1.4em;
}

.komikomi_koumoku {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.komikomiText {
  font-size: 13px;
  line-height: 1.4em;
}

.br_375 {
  display: block;
}
}

@media (min-width:376px) and (max-width:414px){

.midashi_a {
	margin-bottom: 10px;
	color: #000000;
	font-size: 17px;
	line-height: 1.5em;
	border-top: 1px solid #222222;
	border-bottom: 1px solid #222222;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
}

.ph_title {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #5A5A5A;
	font-size: 16px;
	line-height: 1.4em;
	text-align: center;
}

.komikomi_bn_read {
	font-size: 10px;
	line-height: 1.4em;
}

.komikomi_bn_title {
	margin-top: 0px;
	margin-bottom: 5px;
	color: #3F3F3F;
	font-size: 13px;
	line-height: 1.4em;
	font-weight: bold;
}

.nagare_tate {
  font-size: 19px;
  line-height: 0em;
  color: #FFFFFF;
  display: table;
  vertical-align: middle;
}

.flow_read {
  font-size: 11px;
}

.cont_midashi2 {
  font-size: 19px;
  border-bottom: 1px solid #5A5A5A;
  padding-bottom: 5px;
  border-left: 3px solid #FF0004;
  padding-left: 5px;
  line-height: 1.4em;
}

.komikomi_koumoku {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.komikomiText {
  font-size: 13px;
  line-height: 1.4em;
}

.br_414 {
  display: block;
}
}

@media (min-width:415px) and (max-width:736px){
}

@media (min-width:737px) and (max-width:768px){
}

@media (min-width:769px) and (max-width:812px){
}

@media (min-width:813px) and (max-width:1024px){
}

@media (min-width:1025px){
}

@media screen and (max-width:770px){

.post_content p {
	margin: 0px;
	line-height: 1.4em !important;
}

h3 .ph_title {
	line-height: 1.5em;
}
}

@media (max-width:767px){
	.col-xs-6 {
	width: 49.8%;
}

}



@media (min-width:768px){
}

@media (min-width:992px){
}

@media (min-width:1200px){
	.col-lg-4 {
	width: 33.2%;
}
}

@media (max-width:414px){
.sm_non {
  display: none;
}

.sm_padding {
  padding-top: 10px;
}

hr {
  margin-top: 20px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 20px;
}

.brsm_space {
  margin-top: 10px;
  margin-bottom: 10px;
}

.komikomi_red {
  color: hsla(359,100%,50%,1.00);
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
}

@media (min-width:415px){

.pc_non {
  display: none;
}
}
